# Bảo vệ file .htaccess
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>
 
# Rewrite url
RewriteEngine on
# Url bài viết
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?post_id=$1
RewriteRule ^([a-zA-Z0-9_-]+)-([0-9]+).html/$ index.php?post_id=$1