.bg-text {
  background-color: rgba(0, 0, 0, 0.07);
}

#signin .form-floating:focus-within {
  z-index: 2;
}

#signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#signup .form-floating:focus-within {
  z-index: 2;
}

#signup input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}


#signup input#floatingPasswordSignup, #signup input#floatingNameSignup, #signup input#floatingBirthSignup {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#signup input#floatingReEnterPasswordSignup {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
